body {
  color: var(--primary-color);
  background: var(--primary-background);
  text-align: center;
  font-family: sans-serif;
  padding: 5px;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}
h2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 50px;
  color: var(--header-color);
  background: var(--header-background);
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
h2 > span.title {
  flex-grow: 2;
  flex-shrink: 0;
}
h2 > span {
  flex-shrink: 1;
  vertical-align: middle;
}
h2 :link {
  position: relative;
  z-index: 0;
  color: var(--header-color);
}
h2 :visited {
  color: var(--header-color);
}
h2 span {
  position: relative;
  z-index: 0;
  padding: 0 1em;
  display: inline;
}

#root > .content {
  margin-top: 50px;
}

h3 {
  color: var(--header-color);
  background: var(--header-background);
  font-size: 18pt;
  text-align: center;
  margin: 1px;
  padding: 5px 3px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--header-background);
  float: left;
}
h3 > :link {
  color: var(--header-color);
}
h3 > :visited {
  color: var(--header-color);
}
h3 > span {
  display: block;
  font-size: 8pt;
  margin: 0;
  color: var(--header-sub-color);
  background: inherit;
}

.calendar > div {
  float: left;
  width: 212px;
  height: 236px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--none-color);
}
.calendar > div > h3 {
  display: block;
  width: 210px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 1px;
}
.calendar-grid {
  display: block;
  width: 100%;
  height: 180px;
}
.calendar-grid table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  border-width: 1px;
  border-color: var(--none-color);
  border-style: solid;
}
.calendar-grid th,
.calendar-grid td {
  border-width: 1px;
  border-color: var(--none-color);
  border-style: solid;
  padding: 0;
  margin: 0;
  height: 28px;
  width: 28px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
.calendar-grid th {
  height: 20px;
  font-size: small;
  color: var(--inactive-color);
}
.calendar-grid :link {
  color: var(--primary-color);
}
.calendar-grid :visited {
  color: var(--primary-color);
}

.heat-none {
  color: var(--inactive-color);
  background-color: var(--none-color);
}
.heat-low {
  background-color: var(--low-color);
}
.heat-medium {
  background-color: var(--medium-color);
}
.heat-high {
  background-color: var(--high-color);
}
.heat-extreme {
  background-color: var(--extreme-color);
}

.month h3 {
  float: left;
  width: 35px;
  height: 200px;
}
.month h3 > span {
  margin: 5px 0;
}

.thumbnails {
  vertical-align: top;
}

div.thumbnail-block {
  vertical-align: top;
  float: left;
}
div.thumbnail {
  height: 212px;
  float: left;
  margin: 1px;
  background-color: #bbb;
}

div.thumbnail > .flag {
  display: inline;
  position: relative;
  top: -19px;
  left: 3px;
}
div.thumbnail > .flag > .flag-icon {
  display: block;
}

span.thumbnail {
  display: block;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border: solid #004 1px;
  margin: 0;
  padding: 0;
  text-align: left;
}

div.photo {
  flex-grow: 1;
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

span.photo {
  z-index: 100;
  border: solid #004 1px;
  padding: 10px;
  background-color: #bbb;
}
