html {
  --primary-color: #000;
  --primary-background: #ddd;
  --inactive-color: #999;
  --header-color: #fff;
  --header-sub-color: #ddd;
  --header-background: #000;
  --none-color: #fff;
  --low-color: #eee;
  --medium-color: #ddd;
  --high-color: #ccc;
  --extreme-color: #bbb;
}

body {
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  background: var(--primary-background);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.error {
  font-size: xx-large;
  font-weight: bold;
  color: #f00;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery {
  width: 214px;
  min-height: 200px;
  margin: 5px;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  background-color: var(--none-color);
}
.gallery > .icon {
  margin: 0;
}
.gallery > .icon > img {
  width: 100%;
}
.gallery > .description {
  margin: 5px;
  text-align: left;
}

.thumbnails {
  vertical-align: top;
}

div.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
