body {
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  background: var(--primary-background);
}

#root {
  color: var(--primary-color);
  background: var(--primary-background);
}

form {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.error {
  font-size: xx-large;
  font-weight: bold;
  color: #f00;
}

h2 {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  color: var(--header-color);
  background: var(--header-background);
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
h2 > * {
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: middle;
  position: relative;
  display: inline;
}
h2 :link {
  position: relative;
  color: var(--header-color);
}
h2 :visited {
  color: var(--header-color);
}

h3 {
  color: var(--header-color);
  background: var(--header-background);
  font-size: 18pt;
  text-align: center;
  margin: 1px;
  padding: 5px 3px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--header-background);
}
h3 > :link {
  color: var(--header-color);
}
h3 > :visited {
  color: var(--header-color);
}
h3 > span {
  display: block;
  font-size: 8pt;
  margin: 0;
  color: var(--header-sub-color);
  background: inherit;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery {
  width: 214px;
  min-height: 200px;
  margin: 5px;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  background-color: var(--none-color);
}
.gallery > h3 {
  margin: 0;
}
.gallery > .icon {
  margin: 0;
}
.gallery > .icon > img {
  width: 100%;
}
.gallery > .description {
  margin: 5px;
  text-align: left;
}

.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.calendars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 904px;
}
.calendar {
  width: 214px;
  height: 238px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--none-color);
}
.calendar h3 {
  display: block;
  width: 212px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 1px;
}
.calendar-grid {
  display: block;
  width: 100%;
  height: 180px;
}
.calendar-grid table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  border-width: 1px;
  border-color: var(--none-color);
  border-style: solid;
}
.calendar-grid th,
.calendar-grid td {
  border-width: 1px;
  border-color: var(--none-color);
  border-style: solid;
  padding: 0;
  margin: 0;
  height: 28px;
  width: 28px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
.calendar-grid th {
  height: 20px;
  font-size: small;
  color: var(--inactive-color);
}
.calendar-grid :link {
  color: var(--primary-color);
}
.calendar-grid :visited {
  color: var(--primary-color);
}

.heat-none {
  color: var(--inactive-color);
  background-color: var(--none-color);
}
.heat-low {
  background-color: var(--low-color);
}
.heat-medium {
  background-color: var(--medium-color);
}
.heat-high {
  background-color: var(--high-color);
}
.heat-extreme {
  background-color: var(--extreme-color);
}

.month {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.month h3 {
  height: 200px;
  min-width: 25px;
}
.month h3 > span {
  margin: 5px 0;
}

.day {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnails {
  vertical-align: top;
}

div.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
